@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:wght@200&display=swap");

body {
  background-color: #eaeff1;
  font-family: "Raleway", sans-serif;
}

.card {
  background-color: whitesmoke;
  border-radius: 12px;
  border: 1px solid #bacdd8;
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.1);
}

.name {
  color: #808356;
  font-size: 16px;
  font-weight: 600px;
  margin-top: 8px;
}
.desc {
  font-size: 14px;
  color: #919560;
  line-height: 150%;
}
.tag {
  padding: 4px 8px;
  border: 1px solid #e5eaed;
  border-radius: 50px;

  margin: 2px 5px;
  font-size: 12px;
  font-weight: 600px;
  color: #226c41;
}
.btn-container {
  text-align: right;
}
button {
  border: none;
  padding: 8px 12px;
  border-radius: 50px;
  margin: 12px;

  font-weight: 600px;
  color: #0077ff;
  background-color: #e0efff;
  cursor: pointer;
}

.target-time {
  color: #226c41;
  background-color: #226c4122;
}
.stop-watch {
  color: #1dd369;
  display: block;
  padding: auto;
  margin: 0 auto;
}
.time-taken {
  color: #1dd369;
  background-color: #1dd36918;
}
.time-Exceeded {
  color: #c0491e;
  background-color: #c0491e2e;
}

.card_details {
  padding: 15px;
  text-align: left;
}
