<div class="card">
  <div class="card_details">
    <div class="name"><h3>Weather-App</h3></div>
    <p class="desc">
      App that Shows Current/Forecast Weather based on searched Location.
    </p>
    <span class="tag target-time">Target Time: 48 Hrs</span
    ><span class="tag time-taken">Time Taken: 2Hrs</span>
    <div class="btn-container">
      <p class="stop-watch ">0:0:0</p>
      <button><i class="fa-regular fa-circle-play"></i></button>
      <button *ngIf="false"><i class="fa-regular fa-circle-pause"></i></button>
      <button><i class="fas fa-edit"></i></button>
    </div>
  </div>
</div>
