<div class="card">
  <form [formGroup]="taskForm">
    <div class="card_details">
      <div class="name">
        <label for="title">Title</label>
        <input formControlName="title" id="title" />
      </div>
      <label for="desc" class="form-label">Description</label>
      <input class="desc" id="desc" formControlName="desc" />

      <label for="targetTime" class="form-label">Target Time</label>
      <input
        class="tag target-time form-control"
        id="targetTime"
        formControlName="targetTime"
      />
      <div class="btn-container">
        <p class="stop-watch">0:0:0</p>
        <button><i class="fa-regular fa-circle-play"></i></button>
        <button *ngIf="false">
          <i class="fa-regular fa-circle-pause"></i>
        </button>
        <button type="submit" (click)="submitTaskTime()">
          <i class="fa-regular fa-floppy-disk"></i>
        </button>
      </div>
    </div>
  </form>
</div>
